<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <!--URL必须http://huardcjemsdw01/amfphp/gateway.php在同一个server-->
    <add key="URL" value="http://huardcjemsdw01/CAMX/CAMXCS3.html"/>
    <add key="DESTFILE" value="D:\abc\OEEData.txt"/>
    <add key="JSFILE" value="C:\Users\ShenS61\Desktop\GetOEEData.js"/>
    <add key="SQLSERVER" value="WUXCamx01"/>
    
    <!--配置EQUIPMENTIDS时每个EQUIPMENTID需要以逗号分隔-->
    <add key="EQUIPMENTIDS" value="6788,8481, 7058,7059, 6876,11306, 7060, 7061, 7063, 7064, 7065, 7848"/>
  </appSettings>
</configuration>